@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Regular.woff2') format('woff2'),
        url('SegoeUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

